<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ylpro.dao.tbug.TbugDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="org.ylpro.entity.tbug.Tbug" >
	<result column="id" property="id"/>
	<result column="createdatetime" property="createdatetime"/>
	<result column="modifydatetime" property="modifydatetime"/>
	<result column="name" property="name"/>
	<result column="note" property="note"/>
	<result column="bugtype_id" property="bugtype_id"/>
</resultMap>
       
<!-- tbug table all fields -->
<sql id="Base_Column_List" >
	 id,createdatetime,modifydatetime,name,note,bugtype_id
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null and id != ''" >
	    and id =  #{id}
	</if>
	<if test="createdatetime != null and createdatetime != ''" >
	    and createdatetime =  #{createdatetime}
	</if>
	<if test="modifydatetime != null and modifydatetime != ''" >
	    and modifydatetime =  #{modifydatetime}
	</if>
	<if test="name != null and name != ''" >
	    and name =  #{name}
	</if>
	<if test="note != null and note != ''" >
	    and note =  #{note}
	</if>
	<if test="bugtype_id != null and bugtype_id != ''" >
	    and bugtype_id =  #{bugtype_id}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  insert into tbug(id,createdatetime,modifydatetime,name,note,bugtype_id)
 values(#{id},#{createdatetime},#{modifydatetime},#{name},#{note},#{bugtype_id})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update tbug set createdatetime=#{createdatetime},modifydatetime=#{modifydatetime},name=#{name},note=#{note},bugtype_id=#{bugtype_id} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update tbug set 
	<trim  suffixOverrides="," >
	<if test="createdatetime != null  ">
		createdatetime=#{createdatetime},
	</if>
	<if test="modifydatetime != null  ">
		modifydatetime=#{modifydatetime},
	</if>
	<if test="name != null  ">
		name=#{name},
	</if>
	<if test="note != null  ">
		note=#{note},
	</if>
	<if test="bugtype_id != null  ">
		bugtype_id=#{bugtype_id},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from tbug where id = #{id}
</delete>
 
<!-- 根据id查询 bugTable -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from tbug where id = #{id}
</select>

<!-- bugTable 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from tbug 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询bugTable列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from tbug 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
  	
</mapper>   
