<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ylpro.dao.TuserMapper" >
  <resultMap id="BaseResultMap" type="org.ylpro.model.Tuser" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CREATEDATETIME" property="createdatetime" jdbcType="TIMESTAMP" />
    <result column="MODIFYDATETIME" property="modifydatetime" jdbcType="TIMESTAMP" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PWD" property="pwd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATEDATETIME, MODIFYDATETIME, NAME, PWD
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tuser
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tuser
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.ylpro.model.Tuser" >
    insert into tuser (ID, CREATEDATETIME, MODIFYDATETIME, 
      NAME, PWD)
    values (#{id,jdbcType=VARCHAR}, #{createdatetime,jdbcType=TIMESTAMP}, #{modifydatetime,jdbcType=TIMESTAMP}, 
      #{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.ylpro.model.Tuser" >
    insert into tuser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createdatetime != null" >
        CREATEDATETIME,
      </if>
      <if test="modifydatetime != null" >
        MODIFYDATETIME,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="pwd != null" >
        PWD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createdatetime != null" >
        #{createdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydatetime != null" >
        #{modifydatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ylpro.model.Tuser" >
    update tuser
    <set >
      <if test="createdatetime != null" >
        CREATEDATETIME = #{createdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydatetime != null" >
        MODIFYDATETIME = #{modifydatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        PWD = #{pwd,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ylpro.model.Tuser" >
    update tuser
    set CREATEDATETIME = #{createdatetime,jdbcType=TIMESTAMP},
      MODIFYDATETIME = #{modifydatetime,jdbcType=TIMESTAMP},
      NAME = #{name,jdbcType=VARCHAR},
      PWD = #{pwd,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>