<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ylpro.dao.TuserRoleMapper" >
  <resultMap id="BaseResultMap" type="org.ylpro.model.TuserRoleKey" >
    <id column="TUSER_ID" property="tuserId" jdbcType="VARCHAR" />
    <id column="TROLE_ID" property="troleId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="org.ylpro.model.TuserRoleKey" >
    delete from tuser_trole
    where TUSER_ID = #{tuserId,jdbcType=VARCHAR}
      and TROLE_ID = #{troleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.ylpro.model.TuserRoleKey" >
    insert into tuser_trole (TUSER_ID, TROLE_ID)
    values (#{tuserId,jdbcType=VARCHAR}, #{troleId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.ylpro.model.TuserRoleKey" >
    insert into tuser_trole
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tuserId != null" >
        TUSER_ID,
      </if>
      <if test="troleId != null" >
        TROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tuserId != null" >
        #{tuserId,jdbcType=VARCHAR},
      </if>
      <if test="troleId != null" >
        #{troleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>